@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
 
  body, html {
    block-size: 100%;
    font-family: 'Manrope', sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-inline-size: 1440px; margin-inline: auto;
    background-color: hsl(218, 23%, 16%);
    display: grid;
    place-items: center;

    p {
      color: hsl(150, 100%, 66%);
      letter-spacing: 0.12rem;
      font-size: 0.875rem;
      font-weight: 500;
      margin-block: 1.5rem; 
    }

    h1 {
      font-size: 28px;
      color: hsl(193, 38%, 86%);
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin-inline: auto;
  }

  .main {
    background-color: hsl(217, 19%, 24%);
    max-inline-size: 31rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    border-radius: 0.7rem;
    margin-inline: 1rem;
    position: relative;
  }

  .pause-con {
    margin-block-start: 1.7rem;
    margin-block-end: 2.7rem;
  }
  .dice-container {
    block-size: 3.525rem;
    inline-size: 3.525rem;
    background-color:hsl(150, 100%, 66%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -1.875rem;left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out box-shadow;
  }

  .dice-container:hover {
    box-shadow: 0px 0px 37px 4px rgba(82,255,168,1);
    cursor: pointer;
  }

  

  